* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color:#21222A;
  align-items: center;
  padding: 0 30px
}

.navFirst{
  display: flex;
  align-items: center;
  margin: 0;
}

.navFirst img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.navFirst h3 {
  font-weight: 700;
  font-size: 30px;
  color: #61DAFB;
  margin: 0;
  line-height: 0;
}

.nav h4 {
  font-weight: 600;
  font-size: 20px;
  color:#DEEBF8;
  margin: 0;
}

main {
  background-color:#282D35;
  color: #FFFFFF;
  height: 85vh;
  padding-top: 50px;
  background-image: url('./assets/reactjs-icon 2.png');
  background-repeat: no-repeat;
  background-position: right;
}

main h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 0px auto 40px 50px;
  letter-spacing: -0.05em;
}

main ul {
  margin-left: 60px;
}

main ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 20px;
}

main ul li::marker{
  color:#61DAFB;
  font-size: 21px;
}